In [11]:
#!pip install ibm_db
#!pip install ibm_db_sa
!pip install ipython-sql

In [10]:
import ibm_db
import ibm_db_sa
#ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%load_ext sql
%sql ibm_db_sa://wld37336:p5r8vk6k5-vtjv4c@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [35]:
%sql select count(distinct id) as total_num from crime

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2: List community areas with per capita income less than 11000.

In [33]:
%sql select community_area_number from census where per_capita_income < 11000

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(26,), (30,), (37,), (54,)]

### Problem 3: List all case numbers for crimes involving minors?

In [155]:
%sql drop view child_crime
%sql create view child_crime as select case_number from crime where primary_type like '%CHILD%' or description like '%CHILD%'
%sql select * from child_crime

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',), ('HN144152',)]

### Problem 4: List all kidnapping crimes involving a child?

In [130]:
%sql select * from crime, child_crime where crime.case_number = child_crime.case_number and primary_type = 'KIDNAPPING'

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)', 'HN144152')]

### Problem 5: What kind of crimes were recorded at schools?

In [131]:
%sql select distinct primary_type from crime where location_description like '%SCHOOL%'

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6: List the average safety score for all types of schools.

In [90]:
%%sql 
select "Elementary, Middle, or High School" as type, avg(safety_score) as avg_score 
from schools 
group by "Elementary, Middle, or High School"

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

### Problem 7: List 5 community areas with highest % of households below poverty line.

In [92]:
%sql select * from census order by percent_households_below_poverty desc limit 5

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(54, 'Riverdale', Decimal('5.8'), Decimal('56.5'), Decimal('34.6'), Decimal('27.5'), Decimal('51.5'), 8201, 98),
 (37, 'Fuller Park', Decimal('3.2'), Decimal('51.2'), Decimal('33.9'), Decimal('26.6'), Decimal('44.9'), 10432, 97),
 (68, 'Englewood', Decimal('3.8'), Decimal('46.6'), Decimal('28.0'), Decimal('28.5'), Decimal('42.5'), 11888, 94),
 (29, 'North Lawndale', Decimal('7.4'), Decimal('43.1'), Decimal('21.2'), Decimal('27.6'), Decimal('42.7'), 12034, 87),
 (27, 'East Garfield Park', Decimal('8.2'), Decimal('42.4'), Decimal('19.6'), Decimal('21.3'), Decimal('43.2'), 12961, 83)]

### Problem 8: Which community area(number) is most crime prone?

In [147]:
%%sql 
select community_area_number, count(*) as prone 
from crime 
group by community_area_number
order by prone desc 
limit 1

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

### Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [99]:
%sql select community_area_name from census where hardship_index = (select max(hardship_index) from census)

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [151]:
%%sql 
select community_area_name 
from census, (select community_area_number, count(*) as num from crime group by community_area_number) sub
where census.community_area_number = sub.community_area_number
order by num desc
limit 1

 * ibm_db_sa://wld37336:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin',)]